:root {
    --color-1-orange: #FF7021;
    --color-2-blue: #2FF7F0;
    --color-3-yellowish: #FFA714;
    --color-4-headings: #232D46; 
    --color-body: #918ca4;

    --color-lowerbrightness: brightness(.95);
    --color-lowersaturate: saturate(.8);
    --color-imgbrightness: brightness(.7); 
    --border-radius: .5rem;
    --icon-border: 2px solid black;
}

*, *::after, *::before {
    box-sizing: border-box;

}

/*LAYOUT*/
.container1420 {
    max-width: 1420px;
    margin: 0 auto;
}

/* ------------------------------------------------------------- */
/* Typography */
::selection {
    background-color:var(--color-2-blue);
    color: white;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 100%;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5; /* rem is not used fot line height, because it automatically takes as font size as reference */
    color: var(--color-body);
}

p {
    margin:0;
}

h1, h2, h3 {
    margin: 0;
}

/* ------------------------------------------------------------- */
/* LISTs SECTION (no bullets) */
.list {
    list-style: none;
    padding-left: 0;
} /* also for vertical lists */

/* horizontal lists */
.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

/* ------------------------------------------------------------- */
/* BUTTONS SECTION  */

.button {
    background: none;
    border-radius: var(--border-radius);
    border: 3px solid transparent;
    color: #000;
    font-weight: bold;
    padding: .5rem 1.5rem;
    width: 10rem;
}
.button:hover {
    cursor: pointer;
    background: var(--color-1-orange);
    color: white;
}
.button:active {
    color: black;
    background: white;
}

.button--nav {
    background-color:transparent;
    border: 2px dashed white;
    color:var(--color-1-orange);
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin: 0;
    padding: .3rem 0;
    width: auto; /* stretches the content in each block in the flex */
}
.button--nav:hover {
    background-color:var(--color-1-orange);
    color: white;
}
.button--nav:active {
    color:black;
}

.button--nav>p, .button--nav>div { 
    padding: 0 1rem;
    align-self: baseline;
}
.button--nav>p {
    font-size: 1.2rem;
    text-decoration: line-through;
    opacity: 50%;
    margin: 0;
}

.button--1orange {
    border-color: var(--color-1-orange);
    color: var(--color-1-orange);
}

.button--2blue {
    border-color: var(--color-2-blue);
    color:var(--color-2-blue);
}
.button--2blue:hover {
    background: var(--color-2-blue);
    color: white;
}
.button--2blue:active {
    background: none;
    color: black;
}

.button--3yellow {
    border-color: var(--color-3-yellowish);
    background: white;
    color:var(--color-3-yellowish);
}
.button--3yellow:hover {
    background:var(--color-3-yellowish);
    color: white;
}
.button--3yellow:active {
    color: black;
    background-color: white;
}

.button--4orangeBG {
    background: var(--color-1-orange);
    color: white;
    border-color:var(--color-1-orange);
}

.button--stretched {
    width: 100%;
    display: inline-block;
    border-color: var(--color-1-orange);
    border-radius: 50px;
    color: white;
    background: var(--color-1-orange);
}

.button--4orangeBG:hover, .button--stretched:hover {
    background: white;
    color:var(--color-1-orange);
    border-color: white;
}

.button--4orangeBG:active, .button--stretched:active {
    color:black;
    background: var(--color-1-orange);
}

.button--pictures {
    border: 2px solid white;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    width: auto;
    border-radius: 0;
}

.button--news {
    border: 1.5px solid var(--color-2-blue);
    color:var(--color-2-blue);
    display: flex;
    height: 200px;
    padding: 0;
    width: 500px;
}
.button--news:hover {
    background: var(--color-2-blue);
    color: white;
}
.button--news:active {
    background: none;
    color: black;
}

.button--news2 {
    border: 1.5px solid var(--color-2-blue);
    color:var(--color-2-blue);
    height: 200px;
    padding: 0;
    width: 500px;
}
.button--news2:hover {
    background: var(--color-2-blue);
    color: white;
}
.button--news2:active {
    background: none;
    color: black;
}

/* ------------------------------------------------------------- */
/* BADGE SECTION*/

.badge {
    text-align: center;
    width: 100px;
    white-space: nowrap;
}


/* ------------------------------------------------------------- */
/* NAVIGATION BAR SECTION*/
.nav {
    background: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
}

.nav__item > a {
    color: #d2d0db;
    transition: color 0.3s;
}

/* ------------------------------------------------------------- */
/* ICONS SECTION */
.icon {
    font-size: 3rem;
    border-radius: 50%;
    padding: .3rem;
}

.icon-container {
    background: #f3f9fa;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display:inline-flex;
    justify-content: center; /* horizontal axis */
    align-items: center; /* vertical axis */
}

.icon--2blue {
    color:var(--color-2-blue);
    border:var(--icon-border);
    border-color: var(--color-2-blue);
}

.icon--headings {
    color:var(--color-4-headings);
    border:var(--icon-border);
    border-color: var(--color-4-headings);
}



/* ------------------------------------------------------------- */
/* NEWS SECTION */
.card__news {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    padding: 2rem 2rem;
    margin: 3rem auto;
    text-align: center; /* justify items doesnt work, because it considers everything inside the container (not a flexbox container, but a normal container) as text */
}

.card__news .grid {
    margin: 1.5rem auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news__title {
    margin-top: 0;
}

.news__img {
    padding: 1rem 0 1rem 1rem;
    align-self: center;
}   

.news__body {
    flex-grow: 1;
    overflow: hidden;
    margin: 1rem 1rem 1rem 0;
    text-align:start;
}
.news__body h5,
.news__body p,
.news__body h3 {
    margin: 0;
}


/* ------------------------------------------------------------- */
/* CARD SECTION */
.card__container {
    max-width: 380px;
    height: 500px;
    justify-content: center;
    background: white;
    border-radius: var(--border-radius);
}

.card__head,
.card__body {
    padding: 2rem 2rem;
    position: relative;
}

.card__head {
    background: var(--color-1-orange);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    font-size: 2rem;
    padding-top: 2.5rem; 
}

.card__price {
    font-size: 3.5rem;
    font-weight: bold;
}

.card__head h3,
.card__head span {
    margin: 0;
    color: white;
}

.card__container button {
    display:block;
    margin: 1rem auto;
    margin-top: 1rem;
    width: 80%;
    padding: 1rem 0;
    font-size: 1.5rem;
    border: 5px solid var(--color-1-orange);
}

.card__popular .card__head::before {
    content: url("icons/Best10.png");
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -20px;
    right: 10%;
    transform: rotate(-10deg);
}

.card__badge {
    right: 5%;
    top: -20px;
    position: absolute;
    border-radius: 50px;
    padding: .5rem 1rem;
    filter: var(--color-lowerbrightness) var(--color-lowersaturate);
    color: white;
    background:var(--color-1-orange);
}

/* ------------------------------------------------------------- */
/* CARD STYLES SECTION */

.card--dstyles__container {
    max-width: 320px;
    height: 420px;
    justify-content: center;
    background: white;
    border-radius: var(--border-radius);
}

.card--dstyles__head {
    background:var(--color-4-headings);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    font-size: 2rem;
    text-align: center;
    color: white;
}

.card--dstyles__body {
    position: relative;
}

.card--dstyles__body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/capoeira_matheus-natan.jpg");
    background-size: cover;
    opacity: 1;
    filter:var(--color-imgbrightness) var(--color-lowersaturate);
}

.card--dstyles__body ul {
    padding: 2rem 2rem;
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.card--dstyles__body button {
    position: absolute;
    bottom: 5%;
    right: 18%;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    width: 200px;
}

/* ------------------------------------------------------------- */
/* GRIDS SECTION */

.grid {
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    width: 100%;
    height: 100%;
}
.grid--rows2 {
    grid-template-rows: 20% 80%;
    row-gap: 0;
}
.grid--rows3 {
    grid-template-rows: 40% 40% 20%;
    row-gap: 0;
}

@media screen and (min-width: 768px) {
    .grid--cols2{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .grid--cols3{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ------------------------------------------------------------- */
/* BLOCKS SECTION*/
.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.block--dark {
    background: black;
    color: grey;
}

.block--skewed-left {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}

/* ------------------------------------------------------------- */
/*  */


