:root {
    --color-1-orange: #F27618;
    --color-2-blue: #18D9F2;
    --color-3-yellowish: #F9AE0C;
    --color-4-headings: #0093A6; 
    --color-body: #0093A6;
    --color-lowerbrightness: brightness(.95);
    --color-lowersaturate: saturate(.8);
    --color-imgbrightness: brightness(.7); 
    --border-radius: .5rem;
    --border-radius-strong: 1.5rem;
    --icon-border: 2px solid black;
    --padding-vertical: 6rem;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/*LAYOUT*/
.container1420 {
    max-width: 1420px;
    margin: 3rem auto;
    position: relative;
    height: 100%;
}

.containerfull {
    height: 1200px;
    max-height: 800px;
    position: relative;
}

.containerfull .container1420 {
    margin: 0 auto;
}

/*  Full Background SECTION */
.background::before {
    background-repeat:no-repeat;
    filter:var(--color-lowersaturate) var(--color-imgbrightness);
}

/* ------------------------------------------------------------- */
/* Typography */
::selection {
    background-color:var(--color-2-blue);
    color: white;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 100%;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5; /* rem is not used fot line height, because it automatically takes as font size as reference */
    color: var(--color-body);
}

h1, h2, h3, h4, h5, p {
    margin: 0 0;
    line-height: 1.3;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

h4, h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

p {
    margin-top: 0;
}

/* bootstrap and tailwind use standard of 1024px */
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 4.75rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.75rem;
    }    
    h4, h5 {
        font-size: 1.75rem;
    }
}

/* ------------------------------------------------------------- */
/* LINKS */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {    /* this style is applied to the arrow created above */
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.7rem;
    }
}

/* ------------------------------------------------------------- */
/* LISTs SECTION (no bullets) */
.list {
    list-style: none;
    padding-left: 0;
} /* also for vertical lists */

/* horizontal lists */
.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

/* ------------------------------------------------------------- */
/*  COLLAPSIBLE SECTION */

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
    max-height: 100vh; /*viewport height */
    opacity: 1;
}


/* ------------------------------------------------------------- */
/* BUTTONS SECTION  */

.button {
    background: none;
    border-radius: var(--border-radius);
    border: .25rem solid transparent;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem 1.5rem;
    width: 10rem;
}
.button:hover {
    cursor: pointer;
    background: var(--color-1-orange);
    color: white;
}
.button:active {
    color: black;
    background: white;
}

.button--1orange {
    border-color: var(--color-1-orange);
    color: var(--color-1-orange);
}

.button--2blue {
    border-color: var(--color-2-blue);
    color:var(--color-2-blue);
    width: 15rem;
}
.button--2blue:hover {
    background: var(--color-2-blue);
    color: white;
}
.button--2blue:active {
    background: none;
    color: black;
}

.button--3yellow {
    border-color:var(--color-3-yellowish);
    background: white;
    color:var(--color-3-yellowish);
}
.button--3yellow:hover {
    background:var(--color-3-yellowish);
    color: white;
}
.button--3yellow:active {
    color: black;
    background-color: white;
}

.button--4orangeBG {
    background: var(--color-1-orange);
    color: white;
    border-color:var(--color-1-orange);
}

.button--stretched {
    background: var(--color-1-orange);
    border-color: var(--color-1-orange);
    border-radius: 50px;
    color: white;
    display: inline;
    text-align: center;
    width: 57%;
    padding: .4rem .3rem;
}
.button--stretched p {
    padding: 0 1rem;
    display: inline;
}

.button--4orangeBG:hover, .button--stretched:hover {
    background: white;
    color:var(--color-2-blue);
    border-color: var(--color-2-blue);
}

.button--4orangeBG:active, .button--stretched:active {
    color:black;
    background: var(--color-1-orange);
    border-color: black;
}

.button--pictures {
    border: 2px solid white;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    width: auto;
    border-radius: 0;
}

/* ------------------------------------------------------------- */
/* BADGE SECTION*/

.badge {
    text-align: center;
    width: 110px;
    white-space: nowrap;
    border-radius: 50px;
}

/* ------------------------------------------------------------- */
/* ICONS SECTION */
.icon {
    font-size: 2.3rem;
    border-radius: 50%;
    padding: .2rem;
}
.icon-small {
    font-size: 2rem;
    border-radius: 50%;
    padding: .3rem;
}

.icon-container {
    background: #f3f9fa;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display:inline-flex;
    justify-content: center; /* horizontal axis */
    align-items: center; /* vertical axis */
}

.icon--1orange {
    color:var(--color-1-orange);
    border:var(--icon-border);
    border-color:var(--color-1-orange);
}

.icon--2blue {
    color:var(--color-2-blue);
    border:var(--icon-border);
    border-color: var(--color-2-blue);
}

.icon--headings {
    color:var(--color-4-headings);
    border:var(--icon-border);
    border-color: var(--color-4-headings);
}

.icon--white {
    color: white;
    border:var(--icon-border);
    border-color:white;
}

/* ------------------------------------------------------------- */
/* GRIDS SECTION */

.grid {
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    width: 100%;
    height: 100%;
}
.grid--rows2 {
    grid-template-rows: 20% 80%;
    row-gap: 0;
}
.grid--rows3 {
    grid-template-rows: 40% 40% 20%;
    row-gap: 0;
}
.gridouter {
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
}

/* ------------------------------------------------------------- */
/* BLOCKS SECTION */
.block {
    padding: calc(var(--padding-vertical) - 4rem) 2rem;
    padding-bottom: calc(var(--padding-vertical) + 1rem);
    background: rgba(0, 0, 0, 0.9);
}

.block--skewed-left {
    clip-path: polygon(0% 0%, 100% 0%, 100% 97%, 0% 100%);
}

/* Media for items (icons, blocks, lists grids, badges) */

@media screen and (min-width: 768px) {
    .gridouter--cols2{
        grid-template-columns: repeat(2, 1fr);
    }
    .icon {
        font-size: 3rem;
        padding: .3rem;
    }
}

@media screen and (min-width: 1024px) {
    .grid--cols3{
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
    }
    .block--skewed-left {
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 60% 90%, 50% 100%, 40% 90%, 0 90%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0 90%);
    }
}

/* ------------------------------------------------------------- */
/* NAVIGATION BAR SECTION*/
.nav {
    background: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
}

.nav__list {
    width: 100%;
    margin: 0;
}


.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
    font-size: 1.2rem;
}
.nav__item > a {
    color: #d2d0db;
    transition: color 0.3s;
}
.nav__item > a:hover {
    color: #fff;
}


.nav__toggler{
    opacity: .5;
    transition: box-shadow .15s;
    cursor: pointer;
}
.nav.collapsible--expanded .nav__toggler { /*double class selection just to make sure that this style only applies to the expanded navigation bar and it wont be applied to anything else */
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
    border-radius: 50%;
}


.nav__brand {
    transform: translateY(5px);
}

@media screen and (min-width: 850px){
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.4rem;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item {
        border: none;
    }
}

/* ------------------------------------------------------------- */
/* BANNER SECTION */
.banner__bg::before {
    content: '';
    background: url(images/dance_banner.jpg);
    position: absolute;
    background-repeat:no-repeat;
    background-size: 1200px auto;
    filter:var(--color-lowersaturate) var(--color-imgbrightness);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.banner__content {
    color:white;
}
.banner__content-right {
    align-self:flex-end;
    text-align: right;
}
.banner__content-right .button {
    float: right;
}
.banner__content.grid--rows2 {
    padding: 2rem 1rem;
}

        .button--banner {
            background-color:transparent;
            border: 2px dashed white;
            color:var(--color-1-orange);
            display: flex;
            font-size: 4rem;
            justify-content: center;
            margin: 0;
            padding: .3rem 0;
            width: auto; /* stretches the content in each block in the flex */
        }
        .button--banner:hover {
            background-color:var(--color-1-orange);
            color: white;
        }
        .button--banner:active {
            color:black;
        }

        .button--banner>p, .button--banner>div { 
            padding: 0 1rem;
            align-self: baseline;
        }
        .button--banner>p {
            font-size: 2.5rem;
            text-decoration: line-through;
            opacity: 50%;
        }

@media screen and (min-width: 1220px) {
    .banner__bg::before {
        background-size: 100% auto;
    }
}

/* ------------------------------------------------------------- */
/* GALLERY SECTION */
.gallery {
    background: url(images/dance_gallery.png);
    background-size: 100% auto;
}

/* ------------------------------------------------------------- */
/* NEWS SECTION */
.card__news {
    border-radius: .5rem;
    box-shadow: 0 0 20px 10px #f3f3f3;
    color:var(--color-body);
    padding: 2rem 2rem;
    text-align: center; /* justify items doesnt work, because it considers everything inside the container (not a flexbox container, but a normal container) as text */
}
.card__news .gridouter {
    margin: 2rem auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.eachnews__grid--cols2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    align-items: center;
    border: 2px solid var(--color-2-blue);
    color:var(--color-2-blue);
}
.eachnews__grid--cols2:hover {
    background: var(--color-2-blue);
    color: white;
    cursor: pointer;
}
.eachnews__grid--cols2:active {
    background: none;
    color: black;
}

.news__img {
    align-self: center;
}
.news__img > img { /* if we use .news__image only it will shrink the container div, but not the image itself, thefore we need to target the img */
    max-height: 200px;
    max-width: 300px;
    width: 100%;
    padding: 1rem;
}   

.news__body {
    overflow: hidden;
    margin: 1rem 1rem 1rem 0;
    text-align:start;
    align-self: flex-start;
    color:var(--color-body);
}

.news__body h4 {
    line-height: 1.4;
    color:var(--color-3-yellowish);
}

@media screen and (min-width: 768px) {
    .news__img > img {
        max-width: 300px;
    }
}

/* ------------------------------------------------------------- */
/* CARD SECTION */
.card__container {
    max-width: 380px;
    height: 500px;
    justify-content: center;
    background: white;
    border-radius: var(--border-radius);
}
 
.card__head,
.card__body {
    padding: 2.25rem 2rem;
    position: relative;
}

.card__head {
    background:var(--color-3-yellowish);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    color: white;
}

.card__badge {
    right: 5%;
    top: -20px;
    position: absolute;
    padding: .5rem 1rem;
    filter: var(--color-lowerbrightness) var(--color-lowersaturate);
    color: white;
    background: var(--color-3-yellowish);
}

.popular--seal .card__head::before {
    content: url("icons/Best10.png");
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -20px;
    right: 10%;
    transform: rotate(-10deg);
} 

.popular {
    max-width: 450px;
    height: 550px;
}

.popular .card__head,
.popular .card__badge  {
    background: var(--color-1-orange);
}

.card__container button {
    display:block;
    margin: 1rem auto;
    width: 80%;
    padding: 1rem 0;
    border: 5px solid;
}

@media screen and (min-width: 1024px) {
    .card__head,
    .card__body {
        padding: 1.5rem 2rem;
}

/* ------------------------------------------------------------- */
/* CARD STYLES SECTION */

.dstyles_title {
    text-align: center;
}
.dstyles_title span, .dstyles_title h4 {
    display: inline-block;
    vertical-align:middle;
}
.dstyles_title h4 {
    padding: 1rem 1rem;
}

.card--dstyles__container {
    max-width: 320px;
    height: 420px;
    justify-content: center;
    background: white;
    border-radius: var(--border-radius);
}

.card--dstyles__head {
    background:var(--color-4-headings);
    border-top-left-radius: var(--border-radius-strong);
    display: inline-grid; /* turning the card head into inline grid to align the h3/content */
}
.card--dstyles__head h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card--dstyles__body {
    position: relative;
}

.card--dstyles__body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/capoeira_matheus-natan.jpg");
    background-size: cover;
    filter:var(--color-imgbrightness) var(--color-lowersaturate);
    border-bottom-right-radius:var(--border-radius-strong);
}

.card--dstyles__body ul {
    padding: 2rem 2rem;
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.card--dstyles__body button {
    position: absolute;
    bottom: 5%;
    right: 18%;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    width: 200px;
}

/* CARDS STUDIOS SECTION */
.card--studios__container{
    position: relative;
    justify-items: center;
    align-items: center;
}

.card--studios__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/dance_studio@1x.png");
    background-size: cover;
    filter:var(--color-imgbrightness) var(--color-lowersaturate);
    border-bottom-right-radius:var(--border-radius-strong);
    border-top-left-radius:var(--border-radius-strong);
}

.card--studios__container h2 {
    padding-top: 2rem;
    position: relative;
    color: white;
    opacity: .7;
}

.card--studios__container button {
    position: relative;
}

.card--studios__container .icon {
    font-size: 1rem;
    border-radius: 50%;
    padding: .2rem;
}

.card--studios__container.grid {
    width: 440px;
    height: 210px;
}

.card--studios__container.grid--rows2 {
    grid-template-rows: 60% 40%;
}





/* ------------------------------------------------------------- */
/* FOOTER SECTION */

